
/* NICARAGUA THUMBNAILS */

html[data-album="nicaragua"] a:nth-child(2) .thumbnailContainer {

	background: url(../images/thumbnails/nic/001.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="nicaragua"] a:nth-child(3) .thumbnailContainer {

	background: url(../images/thumbnails/nic/002.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="nicaragua"] a:nth-child(4) .thumbnailContainer {

	background: url(../images/thumbnails/nic/003.jpg);
	background-size: cover;
	background-position: right;
}

html[data-album="nicaragua"] a:nth-child(5) .thumbnailContainer {

	background: url(../images/thumbnails/nic/004.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="nicaragua"] a:nth-child(6) .thumbnailContainer {

	background: url(../images/thumbnails/nic/005.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="nicaragua"] a:nth-child(7) .thumbnailContainer {

	background: url(../images/thumbnails/nic/006.jpg);
	background-size: cover;
	background-position: top;
}

html[data-album="nicaragua"] a:nth-child(8) .thumbnailContainer {

	background: url(../images/thumbnails/nic/007.jpg);
	background-size: cover;
}

html[data-album="nicaragua"] a:nth-child(9) .thumbnailContainer {

	background: url(../images/thumbnails/nic/008.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="nicaragua"] a:nth-child(10) .thumbnailContainer {

	background: url(../images/thumbnails/nic/009.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="nicaragua"] a:nth-child(11) .thumbnailContainer {

	background: url(../images/thumbnails/nic/010.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="nicaragua"] a:nth-child(12) .thumbnailContainer {

	background: url(../images/thumbnails/nic/011.jpg);
	background-size: cover;
}

html[data-album="nicaragua"] a:nth-child(13) .thumbnailContainer {

	background: url(../images/thumbnails/nic/012.jpg);
	background-size: cover;
}

html[data-album="nicaragua"] a:nth-child(14) .thumbnailContainer {

	background: url(../images/thumbnails/nic/013.jpg);
	background-size: cover;
}
html[data-album="nicaragua"] a:nth-child(15) .thumbnailContainer {

	background: url(../images/thumbnails/nic/014.jpg);
	background-size: cover;
}

html[data-album="nicaragua"] a:nth-child(16) .thumbnailContainer {

	background: url(../images/thumbnails/nic/015.jpg);
	background-size: cover;
}

html[data-album="nicaragua"] a:nth-child(17) .thumbnailContainer {

	background: url(../images/thumbnails/nic/016.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="nicaragua"] a:nth-child(18) .thumbnailContainer {

	background: url(../images/thumbnails/nic/017.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="nicaragua"] a:nth-child(19) .thumbnailContainer {

	background: url(../images/thumbnails/nic/018.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="nicaragua"] a:nth-child(20) .thumbnailContainer {

	background: url(../images/thumbnails/nic/019.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="nicaragua"] a:nth-child(21) .thumbnailContainer {

	background: url(../images/thumbnails/nic/020.jpg);
	background-size: cover;
}

html[data-album="nicaragua"] a:nth-child(22) .thumbnailContainer {

	background: url(../images/thumbnails/nic/021.jpg);
	background-size: cover;
}

html[data-album="nicaragua"] a:nth-child(23) .thumbnailContainer {

	background: url(../images/thumbnails/nic/022.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="nicaragua"] a:nth-child(24) .thumbnailContainer {

	background: url(../images/thumbnails/nic/023.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="nicaragua"] a:nth-child(25) .thumbnailContainer {

	background: url(../images/thumbnails/nic/024.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="nicaragua"] a:nth-child(26) .thumbnailContainer {

	background: url(../images/thumbnails/nic/025.jpg);
	background-size: cover;
}

html[data-album="nicaragua"] a:nth-child(27) .thumbnailContainer {

	background: url(../images/thumbnails/nic/026.jpg);
	background-size: cover;
}

html[data-album="nicaragua"] a:nth-child(28) .thumbnailContainer {

	background: url(../images/thumbnails/nic/027.jpg);
	background-size: cover;
}

html[data-album="nicaragua"] a:nth-child(29) .thumbnailContainer {

	background: url(../images/thumbnails/nic/028.jpg);
	background-size: cover;
}

html[data-album="nicaragua"] a:nth-child(30) .thumbnailContainer {

	background: url(../images/thumbnails/nic/029.jpg);
	background-size: cover;
}

html[data-album="nicaragua"] a:nth-child(31) .thumbnailContainer {

	background: url(../images/thumbnails/nic/030.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="nicaragua"] a:nth-child(32) .thumbnailContainer {

	background: url(../images/thumbnails/nic/031.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="nicaragua"] a:nth-child(33) .thumbnailContainer {

	background: url(../images/thumbnails/nic/032.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="nicaragua"] a:nth-child(34) .thumbnailContainer {

	background: url(../images/thumbnails/nic/033.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="nicaragua"] a:nth-child(35) .thumbnailContainer {

	background: url(../images/thumbnails/nic/034.jpg);
	background-size: cover;
	background-position: bottom;
}

/* SELECTION WEEKEND THUMBNAILS */

html[data-album="selection"] a:nth-child(2) .thumbnailContainer {

	background: url(../images/thumbnails/sel/001.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="selection"] a:nth-child(3) .thumbnailContainer {

	background: url(../images/thumbnails/sel/002.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="selection"] a:nth-child(4) .thumbnailContainer {

	background: url(../images/thumbnails/sel/003.jpg);
	background-size: cover;
	background-position: right;
}

html[data-album="selection"] a:nth-child(5) .thumbnailContainer {

	background: url(../images/thumbnails/sel/004.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="selection"] a:nth-child(6) .thumbnailContainer {

	background: url(../images/thumbnails/sel/005.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="selection"] a:nth-child(7) .thumbnailContainer {

	background: url(../images/thumbnails/sel/006.jpg);
	background-size: cover;
	background-position: top;
}

html[data-album="selection"] a:nth-child(8) .thumbnailContainer {

	background: url(../images/thumbnails/sel/007.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="selection"] a:nth-child(9) .thumbnailContainer {

	background: url(../images/thumbnails/sel/008.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="selection"] a:nth-child(10) .thumbnailContainer {

	background: url(../images/thumbnails/sel/009.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="selection"] a:nth-child(11) .thumbnailContainer {

	background: url(../images/thumbnails/sel/010.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="selection"] a:nth-child(12) .thumbnailContainer {

	background: url(../images/thumbnails/sel/011.jpg);
	background-size: cover;
}

html[data-album="selection"] a:nth-child(13) .thumbnailContainer {

	background: url(../images/thumbnails/sel/012.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="selection"] a:nth-child(14) .thumbnailContainer {

	background: url(../images/thumbnails/sel/013.jpg);
	background-size: cover;
}
html[data-album="selection"] a:nth-child(15) .thumbnailContainer {

	background: url(../images/thumbnails/sel/014.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="selection"] a:nth-child(16) .thumbnailContainer {

	background: url(../images/thumbnails/sel/015.jpg);
	background-size: cover;
}

html[data-album="selection"] a:nth-child(17) .thumbnailContainer {

	background: url(../images/thumbnails/sel/016.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="selection"] a:nth-child(18) .thumbnailContainer {

	background: url(../images/thumbnails/sel/017.jpg);
	background-size: cover;
	background-position: top;
}

html[data-album="selection"] a:nth-child(19) .thumbnailContainer {

	background: url(../images/thumbnails/sel/018.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="selection"] a:nth-child(20) .thumbnailContainer {

	background: url(../images/thumbnails/sel/019.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="selection"] a:nth-child(21) .thumbnailContainer {

	background: url(../images/thumbnails/sel/020.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="selection"] a:nth-child(22) .thumbnailContainer {

	background: url(../images/thumbnails/sel/021.jpg);
	background-size: cover;
}

html[data-album="selection"] a:nth-child(23) .thumbnailContainer {

	background: url(../images/thumbnails/sel/022.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="selection"] a:nth-child(24) .thumbnailContainer {

	background: url(../images/thumbnails/sel/023.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="selection"] a:nth-child(25) .thumbnailContainer {

	background: url(../images/thumbnails/sel/024.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="selection"] a:nth-child(26) .thumbnailContainer {

	background: url(../images/thumbnails/sel/025.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="selection"] a:nth-child(27) .thumbnailContainer {

	background: url(../images/thumbnails/sel/026.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="selection"] a:nth-child(28) .thumbnailContainer {

	background: url(../images/thumbnails/sel/027.jpg);
	background-size: cover;
}

html[data-album="selection"] a:nth-child(29) .thumbnailContainer {

	background: url(../images/thumbnails/sel/028.jpg);
	background-size: cover;
}

html[data-album="selection"] a:nth-child(30) .thumbnailContainer {

	background: url(../images/thumbnails/sel/029.jpg);
	background-size: cover;
}

html[data-album="selection"] a:nth-child(31) .thumbnailContainer {

	background: url(../images/thumbnails/sel/030.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="selection"] a:nth-child(32) .thumbnailContainer {

	background: url(../images/thumbnails/sel/031.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="selection"] a:nth-child(33) .thumbnailContainer {

	background: url(../images/thumbnails/sel/032.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="selection"] a:nth-child(34) .thumbnailContainer {

	background: url(../images/thumbnails/sel/033.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="selection"] a:nth-child(35) .thumbnailContainer {

	background: url(../images/thumbnails/sel/034.jpg);
	background-size: cover;
	background-position: bottom;
}

/* LA CANGREJA THUMBNAILS */

html[data-album="la-cangreja"] a:nth-child(2) .thumbnailContainer {

	background: url(../images/thumbnails/lac/001.jpg);
	background-size: cover;
}

html[data-album="la-cangreja"] a:nth-child(3) .thumbnailContainer {

	background: url(../images/thumbnails/lac/002.jpg);
	background-size: cover;
}

html[data-album="la-cangreja"] a:nth-child(4) .thumbnailContainer {

	background: url(../images/thumbnails/lac/003.jpg);
	background-size: cover;
}

html[data-album="la-cangreja"] a:nth-child(5) .thumbnailContainer {

	background: url(../images/thumbnails/lac/004.jpg);
	background-size: cover;
}

html[data-album="la-cangreja"] a:nth-child(6) .thumbnailContainer {

	background: url(../images/thumbnails/lac/005.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="la-cangreja"] a:nth-child(7) .thumbnailContainer {

	background: url(../images/thumbnails/lac/006.jpg);
	background-size: cover;
}

html[data-album="la-cangreja"] a:nth-child(8) .thumbnailContainer {

	background: url(../images/thumbnails/lac/007.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="la-cangreja"] a:nth-child(9) .thumbnailContainer {

	background: url(../images/thumbnails/lac/008.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="la-cangreja"] a:nth-child(10) .thumbnailContainer {

	background: url(../images/thumbnails/lac/009.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="la-cangreja"] a:nth-child(11) .thumbnailContainer {

	background: url(../images/thumbnails/lac/010.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="la-cangreja"] a:nth-child(12) .thumbnailContainer {

	background: url(../images/thumbnails/lac/011.jpg);
	background-size: cover;
}

html[data-album="la-cangreja"] a:nth-child(13) .thumbnailContainer {

	background: url(../images/thumbnails/lac/012.jpg);
	background-size: cover;
	background-position: center;
}

/* EMPANADA NIGHT THUMBNAILS */

html[data-album="empanada-night"] a:nth-child(2) .thumbnailContainer {

	background: url(../images/thumbnails/emp/001.jpg);
	background-size: cover;
}

html[data-album="empanada-night"] a:nth-child(3) .thumbnailContainer {

	background: url(../images/thumbnails/emp/002.jpg);
	background-size: cover;
}

html[data-album="empanada-night"] a:nth-child(4) .thumbnailContainer {

	background: url(../images/thumbnails/emp/003.jpg);
	background-size: cover;
}

html[data-album="empanada-night"] a:nth-child(5) .thumbnailContainer {

	background: url(../images/thumbnails/emp/004.jpg);
	background-size: cover;
	background-position: right;
}

html[data-album="empanada-night"] a:nth-child(6) .thumbnailContainer {

	background: url(../images/thumbnails/emp/005.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="empanada-night"] a:nth-child(7) .thumbnailContainer {

	background: url(../images/thumbnails/emp/006.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="empanada-night"] a:nth-child(8) .thumbnailContainer {

	background: url(../images/thumbnails/emp/007.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="empanada-night"] a:nth-child(9) .thumbnailContainer {

	background: url(../images/thumbnails/emp/008.jpg);
	background-size: cover;
}

html[data-album="empanada-night"] a:nth-child(10) .thumbnailContainer {

	background: url(../images/thumbnails/emp/009.jpg);
	background-size: cover;
}

html[data-album="empanada-night"] a:nth-child(11) .thumbnailContainer {

	background: url(../images/thumbnails/emp/010.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="empanada-night"] a:nth-child(12) .thumbnailContainer {

	background: url(../images/thumbnails/emp/011.jpg);
	background-size: cover;
}

html[data-album="empanada-night"] a:nth-child(13) .thumbnailContainer {

	background: url(../images/thumbnails/emp/012.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="empanada-night"] a:nth-child(14) .thumbnailContainer {

	background: url(../images/thumbnails/emp/013.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="empanada-night"] a:nth-child(15) .thumbnailContainer {

	background: url(../images/thumbnails/emp/014.jpg);
	background-size: cover;
	background-position: bottom;
}

/* PANAMA THUMBNAILS */

html[data-album="panama"] a:nth-child(2) .thumbnailContainer {

	background: url(../images/thumbnails/pan/001.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="panama"] a:nth-child(3) .thumbnailContainer {

	background: url(../images/thumbnails/pan/002.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="panama"] a:nth-child(4) .thumbnailContainer {

	background: url(../images/thumbnails/pan/003.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="panama"] a:nth-child(5) .thumbnailContainer {

	background: url(../images/thumbnails/pan/004.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="panama"] a:nth-child(6) .thumbnailContainer {

	background: url(../images/thumbnails/pan/005.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="panama"] a:nth-child(7) .thumbnailContainer {

	background: url(../images/thumbnails/pan/006.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="panama"] a:nth-child(8) .thumbnailContainer {

	background: url(../images/thumbnails/pan/007.jpg);
	background-size: cover;
}

html[data-album="panama"] a:nth-child(9) .thumbnailContainer {

	background: url(../images/thumbnails/pan/008.jpg);
	background-size: cover;
	background-position: right;
}

html[data-album="panama"] a:nth-child(10) .thumbnailContainer {

	background: url(../images/thumbnails/pan/009.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="panama"] a:nth-child(11) .thumbnailContainer {

	background: url(../images/thumbnails/pan/010.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="panama"] a:nth-child(12) .thumbnailContainer {

	background: url(../images/thumbnails/pan/011.jpg);
	background-size: cover;
}

html[data-album="panama"] a:nth-child(13) .thumbnailContainer {

	background: url(../images/thumbnails/pan/012.jpg);
	background-size: cover;
}

html[data-album="panama"] a:nth-child(14) .thumbnailContainer {

	background: url(../images/thumbnails/pan/013.jpg);
	background-size: cover;
}
html[data-album="panama"] a:nth-child(15) .thumbnailContainer {

	background: url(../images/thumbnails/pan/014.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="panama"] a:nth-child(16) .thumbnailContainer {

	background: url(../images/thumbnails/pan/015.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="panama"] a:nth-child(17) .thumbnailContainer {

	background: url(../images/thumbnails/pan/016.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="panama"] a:nth-child(18) .thumbnailContainer {

	background: url(../images/thumbnails/pan/017.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="panama"] a:nth-child(19) .thumbnailContainer {

	background: url(../images/thumbnails/pan/018.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="panama"] a:nth-child(20) .thumbnailContainer {

	background: url(../images/thumbnails/pan/019.jpg);
	background-size: cover;
	background-position: right;
}

html[data-album="panama"] a:nth-child(21) .thumbnailContainer {

	background: url(../images/thumbnails/pan/020.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="panama"] a:nth-child(22) .thumbnailContainer {

	background: url(../images/thumbnails/pan/021.jpg);
	background-size: cover;
}

html[data-album="panama"] a:nth-child(23) .thumbnailContainer {

	background: url(../images/thumbnails/pan/022.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="panama"] a:nth-child(24) .thumbnailContainer {

	background: url(../images/thumbnails/pan/023.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="panama"] a:nth-child(25) .thumbnailContainer {

	background: url(../images/thumbnails/pan/024.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="panama"] a:nth-child(26) .thumbnailContainer {

	background: url(../images/thumbnails/pan/025.jpg);
	background-size: cover;
}

html[data-album="panama"] a:nth-child(27) .thumbnailContainer {

	background: url(../images/thumbnails/pan/026.jpg);
	background-size: cover;
	background-position: right;
}

html[data-album="panama"] a:nth-child(28) .thumbnailContainer {

	background: url(../images/thumbnails/pan/027.jpg);
	background-size: cover;
}

html[data-album="panama"] a:nth-child(29) .thumbnailContainer {

	background: url(../images/thumbnails/pan/028.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="panama"] a:nth-child(30) .thumbnailContainer {

	background: url(../images/thumbnails/pan/029.jpg);
	background-size: cover;
	background-position: right;
}

html[data-album="panama"] a:nth-child(31) .thumbnailContainer {

	background: url(../images/thumbnails/pan/030.jpg);
	background-size: cover;
	background-position: center;
}

/* SAN LUCAS THUMBNAILS */

html[data-album="san-lucas"] a:nth-child(2) .thumbnailContainer {

	background: url(../images/thumbnails/san/001.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="san-lucas"] a:nth-child(3) .thumbnailContainer {

	background: url(../images/thumbnails/san/002.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="san-lucas"] a:nth-child(4) .thumbnailContainer {

	background: url(../images/thumbnails/san/003.jpg);
	background-size: cover;
	background-position: right;
}

html[data-album="san-lucas"] a:nth-child(5) .thumbnailContainer {

	background: url(../images/thumbnails/san/004.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="san-lucas"] a:nth-child(6) .thumbnailContainer {

	background: url(../images/thumbnails/san/005.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="san-lucas"] a:nth-child(7) .thumbnailContainer {

	background: url(../images/thumbnails/san/006.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="san-lucas"] a:nth-child(8) .thumbnailContainer {

	background: url(../images/thumbnails/san/007.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="san-lucas"] a:nth-child(9) .thumbnailContainer {

	background: url(../images/thumbnails/san/008.jpg);
	background-size: cover;
	background-position: left;
}

html[data-album="san-lucas"] a:nth-child(10) .thumbnailContainer {

	background: url(../images/thumbnails/san/009.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="san-lucas"] a:nth-child(11) .thumbnailContainer {

	background: url(../images/thumbnails/san/010.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="san-lucas"] a:nth-child(12) .thumbnailContainer {

	background: url(../images/thumbnails/san/011.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="san-lucas"] a:nth-child(13) .thumbnailContainer {

	background: url(../images/thumbnails/san/012.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="san-lucas"] a:nth-child(14) .thumbnailContainer {

	background: url(../images/thumbnails/san/013.jpg);
	background-size: cover;
	background-position: center;
}
html[data-album="san-lucas"] a:nth-child(15) .thumbnailContainer {

	background: url(../images/thumbnails/san/014.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="san-lucas"] a:nth-child(16) .thumbnailContainer {

	background: url(../images/thumbnails/san/015.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="san-lucas"] a:nth-child(17) .thumbnailContainer {

	background: url(../images/thumbnails/san/016.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="san-lucas"] a:nth-child(18) .thumbnailContainer {

	background: url(../images/thumbnails/san/017.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="san-lucas"] a:nth-child(19) .thumbnailContainer {

	background: url(../images/thumbnails/san/018.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="san-lucas"] a:nth-child(20) .thumbnailContainer {

	background: url(../images/thumbnails/san/019.jpg);
	background-size: cover;
	background-position: right;
}

html[data-album="san-lucas"] a:nth-child(21) .thumbnailContainer {

	background: url(../images/thumbnails/san/020.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="san-lucas"] a:nth-child(22) .thumbnailContainer {

	background: url(../images/thumbnails/san/021.jpg);
	background-size: cover;
}

html[data-album="san-lucas"] a:nth-child(23) .thumbnailContainer {

	background: url(../images/thumbnails/san/022.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="san-lucas"] a:nth-child(24) .thumbnailContainer {

	background: url(../images/thumbnails/san/023.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="san-lucas"] a:nth-child(25) .thumbnailContainer {

	background: url(../images/thumbnails/san/024.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="san-lucas"] a:nth-child(26) .thumbnailContainer {

	background: url(../images/thumbnails/san/025.jpg);
	background-size: cover;
	background-position: right;
}

html[data-album="san-lucas"] a:nth-child(27) .thumbnailContainer {

	background: url(../images/thumbnails/san/026.jpg);
	background-size: cover;
	background-position: right;
}

html[data-album="san-lucas"] a:nth-child(28) .thumbnailContainer {

	background: url(../images/thumbnails/san/027.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="san-lucas"] a:nth-child(29) .thumbnailContainer {

	background: url(../images/thumbnails/san/028.jpg);
	background-size: cover;
	background-position: center;
}

/* THREE PEAKS THUMBNAILS */

html[data-album="three-peaks"] a:nth-child(2) .thumbnailContainer {

	background: url(../images/thumbnails/3pe/001.jpg);
	background-size: cover;
	background-position: left;
}

html[data-album="three-peaks"] a:nth-child(3) .thumbnailContainer {

	background: url(../images/thumbnails/3pe/002.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="three-peaks"] a:nth-child(4) .thumbnailContainer {

	background: url(../images/thumbnails/3pe/003.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="three-peaks"] a:nth-child(5) .thumbnailContainer {

	background: url(../images/thumbnails/3pe/004.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="three-peaks"] a:nth-child(6) .thumbnailContainer {

	background: url(../images/thumbnails/3pe/005.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="three-peaks"] a:nth-child(7) .thumbnailContainer {

	background: url(../images/thumbnails/3pe/006.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="three-peaks"] a:nth-child(8) .thumbnailContainer {

	background: url(../images/thumbnails/3pe/007.jpg);
	background-size: cover;
}

html[data-album="three-peaks"] a:nth-child(9) .thumbnailContainer {

	background: url(../images/thumbnails/3pe/008.jpg);
	background-size: cover;
	background-position: right;
}

html[data-album="three-peaks"] a:nth-child(10) .thumbnailContainer {

	background: url(../images/thumbnails/3pe/009.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="three-peaks"] a:nth-child(11) .thumbnailContainer {

	background: url(../images/thumbnails/3pe/010.jpg);
	background-size: cover;
	background-position: left;
}

html[data-album="three-peaks"] a:nth-child(12) .thumbnailContainer {

	background: url(../images/thumbnails/3pe/011.jpg);
	background-size: cover;
	background-position: right;
}

html[data-album="three-peaks"] a:nth-child(13) .thumbnailContainer {

	background: url(../images/thumbnails/3pe/012.jpg);
	background-size: cover;
	background-position: right;
}

html[data-album="three-peaks"] a:nth-child(14) .thumbnailContainer {

	background: url(../images/thumbnails/3pe/013.jpg);
	background-size: cover;
}
html[data-album="three-peaks"] a:nth-child(15) .thumbnailContainer {

	background: url(../images/thumbnails/3pe/014.jpg);
	background-size: cover;
	background-position: center;
}

/* WEDDING THUMBNAILS */

html[data-album="wedding"] a:nth-child(2) .thumbnailContainer {

	background: url(../images/thumbnails/wed/001.jpg);
	background-size: cover;
	background-position: left;
}

html[data-album="wedding"] a:nth-child(3) .thumbnailContainer {

	background: url(../images/thumbnails/wed/002.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="wedding"] a:nth-child(4) .thumbnailContainer {

	background: url(../images/thumbnails/wed/003.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="wedding"] a:nth-child(5) .thumbnailContainer {

	background: url(../images/thumbnails/wed/004.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="wedding"] a:nth-child(6) .thumbnailContainer {

	background: url(../images/thumbnails/wed/005.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="wedding"] a:nth-child(7) .thumbnailContainer {

	background: url(../images/thumbnails/wed/006.jpg);
	background-size: cover;
	background-position: bottom;
}

html[data-album="wedding"] a:nth-child(8) .thumbnailContainer {

	background: url(../images/thumbnails/wed/007.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="wedding"] a:nth-child(9) .thumbnailContainer {

	background: url(../images/thumbnails/wed/008.jpg);
	background-size: cover;
	background-position: right;
}

html[data-album="wedding"] a:nth-child(10) .thumbnailContainer {

	background: url(../images/thumbnails/wed/009.jpg);
	background-size: cover;
	background-position: center;
}

html[data-album="wedding"] a:nth-child(11) .thumbnailContainer {

	background: url(../images/thumbnails/wed/010.jpg);
	background-size: cover;
	background-position: left;
}

html[data-album="wedding"] a:nth-child(12) .thumbnailContainer {

	background: url(../images/thumbnails/wed/011.jpg);
	background-size: cover;
	background-position: right;
}

html[data-album="wedding"] a:nth-child(13) .thumbnailContainer {

	background: url(../images/thumbnails/wed/012.jpg);
	background-size: cover;
	background-position: right;
}

html[data-album="wedding"] a:nth-child(14) .thumbnailContainer {

	background: url(../images/thumbnails/wed/013.jpg);
	background-size: cover;
}
html[data-album="wedding"] a:nth-child(15) .thumbnailContainer {

	background: url(../images/thumbnails/wed/014.jpg);
	background-size: cover;
	background-position: center;
}