# Removes directory listings

Options -Indexes

# Redirects HTTP to HTTPS.

RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://richking.co/$1 [R=301,L]

# Strips .php file endings from URL.

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/$ $1.php
RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$

# Redirects to custom error page.

ErrorDocument 403 /sorry/
ErrorDocument 404 /sorry/

# Catches any requests for richking.rememberwhen.studio and sends them to richking.co. (Auto-created by cpanel, I believe.)

RewriteCond %{HTTP_HOST} ^richking\.rememberwhen\.studio$ [OR]
RewriteCond %{HTTP_HOST} ^www\.richking\.rememberwhen\.studio$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/rememberwhen\.studio" [R=301,L]